
@media screen and (min-width: 1020px) {

    //Home
    .welcome {
        .welcome__heading {
            position: relative;
            top: 15rem;
            left: 9rem;
            text-align: start;
            max-width: 40%;
        }
    
        .welcome__heading--description {
            max-width: 30%;
            position: relative;
            top: 19rem;
            left: 9rem;
            text-align: left;
            height: auto;
        }

        .welcome__image {
            max-width: 50vw;
            position: relative;
            top: -5rem;
            left: 46vw;
            height: 80vh;
        }
    
    }


    //Search Box and Cards
    .search-box {
        text-align: center;
        position: inherit;
        top: 0rem;
        left: -3rem;
    }
    
    .checkbox__filter {
        padding-left: 190px;
    }
    
    .beer-cards {
        position: relative;
        top: -60rem;
        padding-left: 100px;
        width: 100%;

        .beer-cards__cardMapping {
            position: inherit;
            display: grid;
            grid-template-columns: 0.3fr 0.3fr 0.3fr;
        }
        
    }



    //EACH CARD INFORMATION
    .beer-info {

        .beer-info__information {
            display: grid;
            height: 100%;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-areas: 
            "image header"
            "image tagline"
            "image desc"
            "image tips"
            "image info";
            max-height: 1em;
            
            .beer-info__image {
                position: relative;
                left: 13rem;
                width: 20vw;
                height: 65vh;
                grid-area: image;
            }

            .beer-info__information--heading {
                position: relative;
                left: 0rem;
                padding-right: 0;
                grid-area: header;
                height: auto;
            }
    
            .beer-info__information--tagline {
                position: relative;
                left: 0.2em;
                height: auto;
                bottom: 29rem;
                grid-area: tagline;
            }
    
            .beer-info__information--description {
                position: relative;
                bottom: 27rem;
                left: 26.5vw;
                text-align: start;
                width: 50%;
                grid-area: desc;
            }

            .beer-info__information--filter1 {
                position: relative;
                left: 26.5vw;
                width: 50%;
                bottom: 25rem;
                grid-area: tips;
            }

            .beer-info__information--filter2 {
                position: relative;
                bottom: 23rem;
                left: -0.5em;
                grid-area: info;
                height: auto;
            }

            .beer-info__information--filter3 {
                position: relative;
                bottom: 23rem;
                left: -0.6em;
                height: auto;
            }
            
            .beer-info__information--filter4 {
                position: relative;
                bottom: 23rem;
                height: auto;
            }

        }
    }

    .pagination {
        display: block;
        padding-right: 50px;
        margin-left: auto;
        margin-right: auto;

        .pagination__increment, .pagination__decrement {
            border: none;
            width: 10vw;
            border-radius: 50%;
        }
    }

    .backToTop {
        position: relative;
        display: block;
        margin-left: 430px;
        margin-right: auto;
    }
}