
.beer-cards {
    position: relative;
    top: 3em;
    padding-bottom: 60px;
    background: transparent;
    z-index: 1;
    
    .beer-cards__cardMapping {
        a {
            text-decoration: none;
        }
    }

    .beerCard__container {
        border: 2px solid black;
        display: grid;
        text-align: center;
        grid-template-columns: 1fr;
        grid-template-rows: 0.6fr 0.1fr;
        box-shadow: #ccccff 8px 10px;
        background:transparent;
        border-radius: 10px;
        gap: 50px;
        margin: 50px;
        padding: 20px;
        padding-bottom: 40px;

        .beerCard__image {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 40%;
            height: 30vh;
        }
        
        .beerCard__name {
            font-size: 26px;
        }

        .beerCard__desc {
            font-size: 16px;
        }

        .beerCard__name, .beerCard__role, p {
            background:  transparent;
            text-decoration: none;
        }
    }
}


.beer-info {
    display: grid;
    margin: 40px;
    padding: 20px;
    position: relative;
    top: 3rem;
    grid-template-columns: 1fr;

    .beer-info__image {
        position: relative;
        left: 7rem;
        width: 40%;
        height: 30vh;
        padding-bottom: 40px;
    }

    .beer-info__information {
        display: grid;
        grid-template-rows: 1fr;

        .beer-info__information--heading {
            text-align: center;
            text-decoration: underline;
            font-size: 35px;
        }

        .beer-info__information--tagline {
            text-align: center;
        }

        .beer-info__information--filter2, .beer-info__information--filter3, .beer-info__information--filter4 {
            text-align: center;
        }
    }
}
