
.beer-cards {
    position: relative;
    top: 1em;
    background: transparent;
    z-index: 1;

    .beerCard__container {
        border: 2px solid black;
        display: grid;
        grid-template-areas: 
        "image header header"
        "image desc desc";
        grid-template-columns: 90px 200px;
        box-shadow: #ccccff 8px 10px;
        background:transparent;
        border-radius: 10px;
        gap: 20px;
        margin: 50px;
        padding: 30px;
        padding-bottom: 1px;

        .beerCard__image {
            width: 90%;
            height: 20vh;
            grid-area: image;
        }
        
        .beerCard__name {
            font-size: 26px;
            grid-area: header;
        }

        .beerCard__desc {
            font-size: 16px;
            grid-area: desc;
        }

        .beerCard__splitter {
            grid-area: splitter;
        }

        .beerCard__name, .beerCard__role, p {
            background:  transparent;
        }
    }
}
