.navigationBar {
    background:  #ccccff;
    position: fixed;
    top: 0;
    height: auto;
    width: 100%;
    z-index: 3;

    ul {
        background:  #ccccff;
        list-style-type: none;
        text-decoration: none;

        li {
            display: inline;
            background:  #ccccff;
            font-size: 17px;
            font-weight: bold;
            margin: 5px;
            text-decoration: none;
        } 

        .navigationBar__Logo {
            float: left;
            padding: 20px;
        }

        a {
            float: right;
            background:  #ccccff;
            position: relative;
            top: 0.6em;
            right: 0.6em;
            padding: 15px;
            text-decoration: none;
        }

        a::before,
        a::after {
            content: '';
            height: 14px;
            width: 14px;    
            position: absolute;
            text-decoration: none;
            transition: all .35s ease;
            opacity: 0;
        }

        a::before {
            content: '';
            right: 0;
            top: 0;
            border-top: 3px solid black;
            text-decoration: none;
            border-right: 3px solid black;
            transform: translate(-50%, 100%);
        }

        a:after {
            content: '';
            left: 0;
            bottom: 0;
            border-bottom: 3px solid black;
            border-left: 3px solid black;
            transform: translate(100%, -50%)
        }

        a:hover:before,
        a:hover:after{
            transform: translate(0,0);
            opacity: 1;
        }
    }
    
}